


  footer p {
    height: auto;
    font-weight: 900;
    font-size: calc(0.5vw + 1vw);
    text-align: center;
    color: rgb(80, 85, 85);
  }
  
 

  footer {
    margin-left: 12%;
    margin-top: 8%;
    display: flex;
  }

  a {
    display: flex;
    align-items: center;
    text-decoration: none !important;
  }

  img {
    width: 60%;
  }

  .footer-links {
    margin-left: 10%;
    
  }

  .footer-logo {
    font-size: calc(0.5vw + 1vw);
    margin-left: 0%;
    white-space: nowrap;
    color: rgb(58, 61, 61);
  }