nav {
    margin-top: 0%;
    margin-left: 8%;
}


.nav-item:hover {
    background-color: #d4c111;
    
}

img {
    width: 40%;
    margin-top: 1%;
}

.container-fluid p {
    font-size: 24px;
    margin-left: 43%;
}

.nav-item {
    margin: 0 0.8rem;
  }
  

