

nav {
    margin-top: 0%;
    margin-left: 10%;
    font-size: 24px;
}


.nav-item:hover {
    background-color: #d4c111;
    border-radius: 15%;
    
}

img {
    width: 30%;
    margin-top: 1%;
}

.navbar-brand {
    display: flex;
    align-items: center;
  }

.container-fluid p {
    font-size: 24px;
    font-weight: bolder;
    margin-top: 5%;
}

.nav-item {
    margin: 0 0.8rem;
  }

  .collapse {
    display: flex;
    margin-right: 20%;
  }
  

