#program {
    background-image: url(media/cross.svg);
    background-color: #272a31;
    padding-bottom: 20px;
  }

  #program .wrapper {
    justify-content: center;
    width: 90%;
    height: 100%;
  }


.title {
  margin: 5% auto;
  text-align: center;
  font-size: calc(2vw + 1vh);
  color: #fff;
  background-image: linear-gradient(#ec5242, #ec5242);
  background-size: 20% 10%;
  background-position: center bottom;
  background-repeat: no-repeat;
  padding-bottom: 1.3%;
  padding-top: 3%;
}


.tag {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 100%;
  gap: 2%;
  margin-left: 8%;
}

.program-tag {
  display: grid;
  align-items: center;
  justify-items: center;
  padding: 2%;
  gap: 2%;
  background-color: rgba(162, 162, 162, 0.2);
  transition: all 0.5s ease-out;
}


.program-tag:hover {
  transform: scale(1.1);
}

.program-img {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(3vw + 2vw);
  color: white;
  transition: all 0.5s ease-out;
}

.program-tag:hover .program-img {
  color: #ec5242;
}

.program-title {
  font-size: calc(1vw + 1vh);
  color: #ec5242;
  font-weight: bold;
}

.program-detail {
  font-size: calc(0.5vw + 1vh);
  color: #fff;
}

.join-btn {
  width: 35.202vw;
  height: 8.474vh;
  font-size: 2.216vw;
  background-color: #ec5242;
  color: #fff;
  margin-left: 35%;
  margin-top: 5%;
  border: none;
}



@media screen and (max-width: 768px) {
  .tag {
    grid-template-columns: 1fr;
    margin-bottom: 5%;
  }
}